<section class="main">
  <div class="row clearfix">
    <div class="col2" role="complementary">
      <div class="modulo modulo-sidebar" id="guide-move">
        <h1 class="text-center">
          Bem vindo ao sistema de agendamento de salas Bioritmo!
        </h1>
      </div>
    </div>
  </div>
</section>
