<section class="main">
  <div class="row clearfix">
    <div class="col2" role="complementary">
      <div class="modulo modulo-sidebar" id="guide-move">
        <h4>
          Bem vindo ao sistema de agendamento de salas Bioritmo!
        </h4>
      </div>
    </div>
  </div>
</section>
